<footer>
    <section class="footer-logo flex-box">
        <img class="logo-footer" src="../../../assets/logos/logo-footer.webp" alt="logo-vero-killian">
        <h2>Corredora Pública Inmobiliaria <span class="bold">CUCICBA MAT8857</span></h2>
    </section>
    <section class="footer-primary">
        <ul>
            <li>
                <a [routerLink]="['']" >Home</a>
            </li>
            <li>
                <a [routerLink]="['catalogo']" >Comprar</a>
            </li>
            <li>
                <a [routerLink]="['vender']" >Vender</a>
            </li>
            <li>
                <a [routerLink]="['contacto']">Contacto</a>
            </li>
        </ul>
    </section>
    <section class="footer-secondary">
        <ul class="social-icons">
            <li>
                <a href="https://www.instagram.com/verito_killian/" class="social-icon" target="_blank" rel="noreferrer"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://www.facebook.com/veritokillian/" class="social-icon" target="_blank" rel="noreferrer"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
                <a href="http://www.linkedin.com/in/veritokillian" class="social-icon" target="_blank" rel="noreferrer"><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </ul>
        <img src="../../../assets/logos/logo-bapps-footer.webp" alt="Logo bapps">
    </section>
</footer>
