<footer>
    <img class="logo-footer" src="../../../assets/logos/logo-footer.png" alt="logo-paula-dallochio">
    <section class="footer-primary">
        <ul>
            <li>
                <a [routerLink]="['']" >Home</a>
            </li>
            <li>
                <a [routerLink]="['catalogo']" >Comprar</a>
            </li>
            <li>
                <a [routerLink]="['vender']" >Vender</a>
            </li>
            <li>
                <a [routerLink]="['contacto']">Contacto</a>
            </li>
        </ul>
    </section>
    <section class="footer-secondary">
        <ul class="social-icons">
            <li>
                <a href="https://www.instagram.com/pauladallochio/" class="social-icon" target="_blank" rel="noreferrer"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="http://www.linkedin.com/in/pauladallochioestudioinmobiliario" class="social-icon" target="_blank" rel="noreferrer"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
                <a href="http://www.linkedin.com/in/pauladallochioestudioinmobiliario" class="social-icon" target="_blank" rel="noreferrer"><i class="fa-brands fa-whatsapp"></i></a>
            </li>
        </ul>
        <img src="../../../assets/logos/logo-bapps-footer.png" alt="Logo bapps">
    </section>
</footer>
