.home-identity{
    padding: 5% 4%;
    flex-direction: column;
    gap: 3rem;
}

.home-identity .info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.home-identity .info h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.home-identity .info p{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.home-identity .img{
    width: 100%;
    height: 55vh;
    position: relative;
    border-top-right-radius: 10rem;
    overflow: hidden;
}
.home-identity .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


@media (min-width: 530px) {
    .home-identity{
        flex-direction: row;
        align-items: stretch;
        min-height: 60vh;
        flex-wrap: nowrap;
    }
    .home-identity .info{
        width: 49%;
        justify-content: center;
        padding-right: 6%;
    }
    .home-identity .info h2{
        font-size: 2.5rem;
    }
    .home-identity .info p{
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .home-identity .img{
        width: 49%;
        height: auto;
    }
}

@media (min-width: 950px) {
    .home-identity{
        min-height: 75vh;
    }
    .home-identity .info h2{
        font-size: 3rem;
    }
    .home-identity .info p{
        font-size: 2rem;
    }
    .home-identity .info .btn-double a:first-child{
        padding: 0 9%;
    }
}

@media (min-width: 1110px) {
    .home-identity{
        min-height: 90vh;
    }
    .home-identity .info h2{
        font-size: 3.5rem;
        line-height: 4rem;
    }
    .home-identity .info p{
        font-size: 2.5rem;
    }
    .home-identity .info .btn-double {
        height: 6.5rem;
    }
    .home-identity .info .btn-double a{
        height: 6.5rem;
        width: 6.5rem;
    }
  /*   .home-identity .info .btn-double a svg{
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;

    } */
    .home-identity .info .btn-double a svg{
        /* Ajusta la escala del SVG completo */
        transform: scale(1.5); /* Ajusta este valor según sea necesario */
        width: 4rem; /* Puedes ajustar este valor para cambiar el tamaño base del SVG */
        height: 4rem; /* Ajusta este valor para cambiar el tamaño base del SVG */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .home-identity .info .btn-double a:first-child{
        font-size: 2.5rem;
        width: 40%;
    }
}