.home-identity{
    padding: 5% 3%;
    flex-direction: column;
    gap: 2rem;
}

.home-identity .info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.home-identity .info h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.home-identity .info p{
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.home-identity .img{
    width: 100%;
    height: 40vh;
    position: relative;
    border-top-right-radius: 10rem;
    overflow: hidden;
}
.home-identity .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


@media (min-width: 530px) {
    .home-identity{
        flex-direction: row;
        align-items: stretch;
        min-height: 50vh;
        flex-wrap: nowrap;
    }
    .home-identity .info{
        width: 49%;
        justify-content: center;
        padding-right: 6%;
    }
    .home-identity .info h2{
        font-size: 2.5rem;
    }
    .home-identity .info p{
        font-size: 1.5rem;
    }

    .home-identity .img{
        width: 49%;
        height: auto;
    }
}

@media (min-width: 950px) {
    .home-identity{
        min-height: 65vh;
    }
    .home-identity .info h2{
        font-size: 3rem;
    }
    .home-identity .info p{
        font-size: 2rem;
    }
}

@media (min-width: 1110px) {
    .home-identity{
        min-height: 80vh;
    }
}