header{
    height: 12vh;
    background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
    backdrop-filter: blur(40px);
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 4% 5%;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}
header .header-logo{
    width: auto;
    height: 100%;
    justify-content: flex-start;
    text-decoration: none;
}

header .header-logo img{
    width: auto;
    height: 100%;
    object-fit: contain;
}

header .header-button{
    width: 25px;
    height: 17px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
header .header-button:hover{
    transform: scale(1.1);
}

header .header-button div,
header .header-button::after,
header .header-button::before{
    width: 100%;
    height: 3px;
    border-radius: 50rem;
    position: absolute;
    left: 50%;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
    top:50%;
    background-color: var(--primary-color);
}

header .header-button div{
    top: 50%;
    left: 50%;
}
header .header-button::after{
    content: '';
    display: block;
    top: 0;
}

header .header-button::before{
    content: '';
    display: block;
    top: 100%;
}
header .header-button.show  div{
    opacity: 0;
}

header  .header-button.show::after,
header .header-button.show::before{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) ;
}
header .header-button.show::before{
    transform: translate(-50%, -50%) rotate(-45deg) ;
}

nav{
    height: 90vh;
    position: absolute;
    top: 12vh;
    right: -100%;
    align-items: flex-start;
    z-index: 999;
    background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgb(231 250 255) 0%, rgb(241 252 255) 50.08%, rgb(255 255 255) 100%);
    transition: all 0.3s ease-in-out;
}

ul{
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 10% 0%;
}
nav.show{
    right: 0;
    visibility: visible;
}

ul li{
    list-style: none;
    height: auto;
    justify-content: flex-start;
    padding: 0% 10%;
    z-index: 50;
    position:relative;
    transition: all 0.3s ease-in-out;
}
ul li:hover{
    transform: scale(1.1);
}

ul li a{
    text-decoration: none;
    color: var(--dark-color);
    font-size: 3rem;
    font-weight: 400;
    padding: 1px  0;
    transition: all 0.3s ease-in-out;
}

nav ul li a.active{
    color: var(--primary-color-lighter);
    font-weight: 600;
}

@media (min-width: 530px) {
    header{
        height: 15vh;
        padding: 3% 5%;
    }
    header .header-logo{
        width: 20%;
    }

    header .header-button{
        width: 35px;
        height: 20px;
    }

    header .header-button div,
    header .header-button::after,
    header .header-button::before{
        height: 3px;
    }

    nav{
        top: 15vh;
    }

    ul li a{
        font-size: 4rem;
    }

}


@media (min-width: 950px) {

    header.show,
    header{
        height: 12vh;
        padding: 1.5% 3%;
    }
    header .header-logo img{
        width: auto;
        height: 100%;
    }

    header .header-button{
       display: none;
    }

    nav{
        right: 0;
        top: 0;
        position: relative;
        background-color: transparent;
        background: transparent;
        width: 60%;
        height: 100%;
    }

    ul{
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0%;
        background-color: transparent;
        gap: 2rem;
    }

    ul li{
        padding: 0%;
        width: auto;
        height: auto;
    }

    ul li a{
        font-size: 1.7rem;
        color: var(--tertiary-color-darker);
        padding: 0%;
        font-weight: 300;
    }

}