.home-advices{
    padding: 5%;
    gap: 2rem;
    justify-content: space-between;
}
.home-advices h2{
    width: 100%;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.home-advices article{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    perspective: 1000px; /* Crea la perspectiva 3D */
    color: var(--light-color);
}
.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
}
.home-advices article .flipped.card-inner {
    transform: rotateY(180deg); /* Gira la tarjeta al pasar el mouse */
}
.home-advices article .flipped.card-inner .card-front{
    opacity: 0;
}
.home-advices article .card-front::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(71, 88, 56, 0.50);
    z-index: 1;
}

.home-advices article .card-front,
.home-advices article .card-back{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding: 5%;
    overflow: hidden;
    position: relative;
    backface-visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.home-advices article h3,
.home-advices article p{
    z-index: 2;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}
.home-advices article p{
    font-weight: 400;
    font-size: 1.5rem;
}

.home-advices article .card-front img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.home-advices article .card-back{
    position: absolute;
    gap: 1rem;

    align-items: flex-start;
    justify-content: space-between;
    top:0;
    transform: rotateY(180deg);
    background-color: var(--primary-color);
    padding: 10%;
}
.home-advices article .card-back h3{
    font-size: 2.5rem;
}
.home-advices article .card-back p{
    font-size: 1.2rem;
}
.home-advices article .card-back ul{
    padding: 0 0% 0 5%;
}
.home-advices article .card-back ul li{
    list-style: circle;
    font-size: 1.2rem;
}
.home-advices article .card-back ul li span{
    font-weight: 600;
    font-size: inherit;
}
.home-advices article .card-back .btn-double{
    height: 4rem;
}
.home-advices article .card-back .btn-double span{
    height: 4rem;
    color: var(--primary-color);
    background-color: var(--light-color);
    border-color: var(--light-color);
    font-size: 1.3rem;
}
.home-advices article .card-back .btn-double .arrow-button{
    height: 4rem;
    width: 4rem;
}

.home-advices article .card-back .btn-double span svg path{
    fill: var(--primary-color);
}

.home-advices article .card-back .btn-double:hover span{
    color: var(--light-color);
    background-color: var(--primary-color);
}

.home-advices article .card-back .btn-double:hover span svg path{
    fill: var(--light-color);
}


@media (min-width: 530px) {
    .home-advices{
        padding: 4rem 4rem 7.5rem 4rem;
    }
    .home-advices h2{
        font-size: 2.5rem;
    }
    .home-advices article{
        width: 48%;
    }

    .home-advices article h3{
        font-size: 2.5rem;
    }
    .home-advices article p{
        font-size: 1.7rem;
    }
    .home-advices article .card-back{
        overflow-y: scroll;
    }
    .home-advices article .card-back {
        gap: 2rem;
    }
    .home-advices article .card-back ul{
        margin-bottom: 1rem;
    }
    .home-advices article .card-back ul li{
        font-size: 1.4rem;
    }



}

@media (min-width: 930px) {
    .home-advices h2{
        font-size: 3rem;
    }
    .home-advices article h3{
        font-size: 3rem;
    }
    .home-advices article p{
        font-size: 2rem;
    }
    .home-advices article .card-back{
        padding: 7%;
        gap:0;
    }
    .home-advices article .card-back h3{
        font-size: 3rem;
    }
    .home-advices article .card-back ul li{
        font-size: 1.5rem;
    }
    .home-advices article .card-back .btn-double span:first-child{
        width: 40%;
        font-size: 1.5rem;
    }
}

@media (min-width: 1110px) {
    .home-advices h2{
        font-size: 4rem;
        line-height: 4.5rem;
        margin-bottom: 3rem;
    }
    .home-advices article{
        aspect-ratio: 4/3;
    }

    .home-advices article h3{
        font-size: 4rem;
    }
    .home-advices article p{
        font-size: 3rem;
    }
    .home-advices article .card-back{
        overflow-y: hidden;
    }
    .home-advices article .card-back h3{
        font-size: 4rem;
    }
    .home-advices article .card-back ul li{
        font-size: 2.5rem;
    }
    .home-advices article .card-back .btn-double {
        height: 6rem;
    }
    .home-advices article .card-back .btn-double span{
        height: 6rem;
        font-size: 2.5rem;
    }
    .home-advices article .card-back .btn-double span:first-child{
        width: 30%;
        font-size: 2.5rem;
    }
    .home-advices article .card-back .btn-double .arrow-button{
        height: 6rem;
        width: 6rem;
    }
    .home-advices article .card-back .btn-double .arrow-button svg{
        width: 3rem;
        height: 3rem;
        transform: scale(2);
    }
}