main .banner {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30%;
}
main .banner h1 {
  width: 80%;
  text-align: center;
  font-size: 2.5rem;
  color: var(--light-color);
  z-index: 2;
  font-weight: 800;
}
main .banner .banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

section {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0% 3% 3% 3%;
}

h3 {
  width: 100%;
  padding: 3% 5%;
}
app-products-card {
  width: 100%;
}

@media (min-width: 530px) {
  app-products-card {
    display: flex;
    align-items: stretch;
  }

  main .banner {
    margin-bottom: 15%;
  }
  main section {
    flex-wrap: wrap;
  }
}

@media (min-width: 950px) {
  main .banner {
    margin-bottom: 8%;
  }

  section {
    flex-wrap: wrap;
  }

  app-products-card {
    width: 100%;
    height: auto;
    min-height: 280px;
    max-height: 350px;
  }
}

@media (min-width: 1200px) {
  app-products-card {
    width: calc(50% - 1.25rem);
    min-height: 300px;
    max-height: 380px;
  }
}
