<main>
    <div class="banner">
        <img src="assets/backgrounds/products-banner.webp" alt="Banner de productos" class="banner-image" />
        <h1 class="banner-title">Encontrá el hogar de tus sueños</h1>
        <app-products-filter (filterChange)="onFilterChange()"></app-products-filter>
    </div>

    @if (listIsEmpty()) {
        <h3>No se encontraron propiedades para su {{typeOfOperation()}}</h3>
    }@else{
        <h3>Se encontraron  <span class="bold">{{propertiesAmount()}}</span> propiedades para su {{typeOfOperation()}}</h3>
        <section>
            @for (product of list; track $index) {
                <app-products-card [product]="product"></app-products-card>
            }
        </section>
    }

    <!-- <app-products-banner></app-products-banner> -->
</main>