<article class="product-card">
    <a routerLink="/catalogo/{{product?.id}}">
        <img [src]="product?.cover" alt="Imagen principal">
        <section>
            <header>
                <h2>{{product?.address?.street}}</h2>
                <h3>{{product?.address?.city}}</h3>
            </header>
            <main class="main-info">
                <ul>
                    <li><i class="fa fa-solid fa-maximize"></i><span class="bold">{{product?.area}}</span> m2 totales</li>
                    <li><i class="fa fa-solid fa-person-shelter"></i><span class="bold">{{product?.coveredArea}}</span> m2 cubiertos</li>
                    <li><i class="fa fa-solid fa-house-chimney-window"></i><span class="bold">{{product?.rooms}}</span> ambientes</li>
                    <li><i class="fa fa-solid fa-square-parking"></i><span class="bold"> {{product?.garage}}</span> Cochera</li>
                    <li><i class="fa fa-solid fa-bath"></i><span class="bold">{{product?.bathrooms}}</span> baños</li>
                </ul>
                <h4>{{product?.operation_type}} {{product?.type}} en la zona de {{product?.address?.city}}</h4>
            </main>
            <footer>
                <h2 class="price"><span class="bold">{{product?.currency}} {{product?.price | number:'1.2-2'}}</span></h2>
                <button
                    routerLink="/catalogo/{{product?.id}}"
                    class="product-card-icon-button">
                    Ver más
                </button>
            </footer>
        </section>
    </a>
</article>