.product-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    border-radius: 1rem;
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.product-card:hover{
    transform: scale(1.01);
}
.product-card > a{
    cursor: pointer;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-decoration: none;
}

.product-card img{
    width: 100%;
    height: 250px;

    object-fit: cover;
    /* border-radius: 1rem; */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.product-card section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.3rem;
    gap: 2rem;
    border: 1px solid var(--secondary-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.product-card section footer,
.product-card section main{
    min-height: 0;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    row-gap: 2rem;
}
.product-card section footer {
    align-items: center;
    display: flex;
}
.product-card section h2{
    width: 100%;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.8rem;
}
.product-card section footer .price{
    width: 45%;
}
.product-card section h3{
    width: 45%;
}
.product-card section main h3 svg{
    width: 4rem;
    height: 4rem;
}

.product-card-icon-button{
    width: 35%;
    background-color: var(--light-color);
    border: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    cursor: pointer;
    color: var(--primary-color);
    justify-self: flex-end;
    padding: 2% 5%;
}
.product-card-icon-button-img{
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
}
.product-card:hover  .product-card-icon-button,
.product-card:hover  .product-card-icon-button .product-card-icon-button-img path{
    transition: all 0.3s ease-in-out;
}

@media (min-width: 530px) {
    .product-card{
        width: 100%;
        border-radius: 2rem;
    }
    .product-card > a{
        flex-direction: row;
        align-items: stretch;
    }
    .product-card > a img{
        width: 40%;
        height: auto;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 0;
    }
    .product-card section{
        border-bottom-left-radius: 0;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
    .product-card:hover .product-card-icon-button{
        transition: all 0.3s ease-in-out;
        background-color: var(--secondary-color);
    }
    .product-card:hover  .product-card-icon-button .product-card-icon-button-img path{
        /* stroke: var(--primary-color); */
        fill: var(--primary-color);
        transition: all 0.3s ease-in-out;
    }
    .product-card h2{
        font-size: 1.5rem;
    }
    .product-card .price{
        font-size: 2rem;
    }
    .product-card h3{
        font-size: 1.3rem;
    }
    /* .product-card img{
        min-height: 250px;
    } */

}