<form
    class="filter-form" [ngClass]="{'showFilters': showFilters}"
    #myForm="ngForm" (ngSubmit)="search()">
    <div class="input-container">
        <label for="filter-neighborhood">Ciudad o barrio </label>
        <input
            id="filter-neighborhood"
            type="text"
            class="search-input"
            placeholder="Palermo, CABA"
            name="filter-neighborhood"
            [(ngModel)]="neighborhood"
            />
    </div>
    <div class="main-buttons flex-box">
        <button type="button"
            (click)="toggleFilters()"
            class="filter-button"><i class=" fa fa-filter fa-solid"></i>
            @if(showFilters){ Menos} @else { Más}
            Filtros
        </button>
        <button type="button"
            (click)="clearFilters()"
            class="reset-btn">
            <i class="fa fa-solid fa-arrow-rotate-right"></i>
        </button>
        <button (click)="search()" type="submit" class="search-btn fa fa-search fa-solid fa-magnifying-glass"></button>
    </div>
    <div class="input-container">
        <label for="typeFilter">Tipo</label>
        <div class="select-container">
            <select
                id="typeFilter"
                name="type"
                [(ngModel)]="type"
                >
                <option value="" disabled selected>Tipo de propiedad</option>
                <option value="Departamento">Departamento</option>
                <option value="Casa">Casa</option>
            </select>
            <i class="fas fa-chevron-down"></i>
        </div>
    </div>
    <div class="input-container">
        <label for="roomsFilter">Habitaciones</label>
        <input
            type="number"
            placeholder="2, 3, 4..."
            id="roomsFilter"
            name="rooms"
            [(ngModel)]="rooms"
            min="0"
            #roomsField="ngModel"
        />
            <div class="contact-errors" *ngIf="roomsField.invalid && (roomsField.dirty || roomsField.touched)">
                <small *ngIf="roomsField.errors?.['min']">La propiedad debe contar con al menos una habitación.</small>
            </div>
    </div>

    <div class="input-container">
        <label for="minPriceFilter">Precio Min</label>
        <input
            type="number"
            placeholder="123000"
            id="minPriceFilter"
            name="minPrice"
            [(ngModel)]="minPrice"
            min="0"
            #minPriceField="ngModel"
            />
            <div class="contact-errors" *ngIf="minPriceField.invalid && (minPriceField.dirty || minPriceField.touched)">
                <small *ngIf="minPriceField.errors?.['min']">El precio mínimo debe ser mayor a 0.</small>
            </div>
    </div>
    <div class="input-container">
        <label for="maxPriceFilter">Precio Max</label>
        <input
            type="number"
            placeholder="123000"
            id="maxPriceFilter"
            name="maxPrice"
            [(ngModel)]="maxPrice"
            min="0"
            #maxPriceField="ngModel"
            />
            <div class="contact-errors" *ngIf="maxPriceField.invalid && (maxPriceField.dirty || maxPriceField.touched)">
                <small *ngIf="maxPriceField.errors?.['min']">El precio mínimo debe ser mayor a 0.</small>
            </div>
    </div>

    <div class="input-container order_by">
        <label for="order_by">Ordenar por</label>
        <select
            id="order_by"
            name="order_by"
            [(ngModel)]="order_by"
        >
            <option value="" disabled selected>Ordenar por</option>
            <option value="price">Precio</option>
            <option value="location">Ubicación</option>
            <option value="age">Año</option>
            <option value="expenses">Expensas</option>
            <option value="room_amount">Habitaciones</option>
            <option value="bathroom_amount">Baños</option>
            <option value="parking_lot_amount">Cocheras</option>
            <option value="surface">Superficie</option>
            <option value="roofed_surface">Superficie Cubierta</option>
            <option value="total_surface">Superficie Total</option>
        </select>
        <select
            id="order"
            name="order"
            [(ngModel)]="order"
        >
            <option value="" disabled selected>---</option>
            <option value="ASC">Ascendente</option>
            <option value="DESC">Descendente</option>
        </select>
    </div>

</form>
