.filter-form{
    width: 90%;
    min-height: 10vh;
    max-height: 18rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
    position: absolute;
    bottom: 0%;
    left: 50%;
    z-index: 5;
    background-color: var(--light-color);
    transform: translateY(50%) translateX(-50%);
    border-radius: 2rem;
    box-shadow: 0px 4px 18.1px 8px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
.filter-form.showFilters{
    max-height: 200rem;
}


.filter-form .input-container{
    width: 100%;
    max-height: 8rem;
}
.filter-form .input-container input,
.filter-form .input-container select{
    height: 5rem;
}
.filter-form .filter-button{
    width: 100%;
    height: 5rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-family: Poppins, sans-serif;
    transition: all 0.3s ease-in-out;
    text-wrap:pretty;
}
.filter-form .main-buttons{
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 1.5rem;
}
.filter-form.showFilters .filter-button{
    background-color: var(--primary-color);
    color: var(--light-color);
}
.filter-form .reset-btn,
.filter-form .search-btn{
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    background-color: var(--primary-color);
    color: var(--light-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    aspect-ratio: 1/1;
}
.filter-form .reset-btn{
    background-color: var(--light-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.main-filter-btn{
    width: 47%;
}


.secondary-filter-btn{
    width: 65%;
}




@media (min-width: 530px) {
    .filter-form{
        max-height: 12rem;
        align-items: flex-end;
        gap: 1.5rem;
    }
    section{
        padding: 5% 5%;
    }
    .main-filter-btn{
        width: 25%;
    }
    .search-btn{
        width: 10%;
    }
    .secondary-filter-btn{
        width: 30%;
    }
    form.filter-form .input-container{
        width: 45%;
    }
    .filter-form .input-container:first-child{
        order: 0; /* Ajusta según la necesidad */
    }
    .filter-form .input-container:nth-child(3) {
        order: 3; /* Ajusta según la necesidad */
    }
    .filter-form .input-container:nth-child(4) {
        order: 4; /* Ajusta según la necesidad */
    }
    .filter-form .input-container:nth-child(5) {
        order: 5;
    }
    .filter-form .input-container:nth-child(6) {
        order: 6;
    }

    .filter-form .main-buttons{
        width: 50%;
        order: 2;
    }

    .filter-form .input-container:nth-child(7) {
        order: 3; /* Ajusta según la necesidad */
        width: 30%;
    }
    .filter-form .input-container:nth-child(8) {
        order: 4; /* Ajusta según la necesidad */
        width: 30%;
    }
    .filter-form .input-container{
        width: 100%;
        max-height: 10rem;
    }
}

@media (min-width: 950px) {

    section{
        padding: 3% 15%;
    }
    .filter-form{
        max-height: 13rem;
    }
    form.filter-form .input-container{
        width: 25% !important;
    }
    .filter-form .main-buttons{
        width: 45%;
        order: 2;
    }

    .filter-form .input-container:nth-child(3) {
        order: 1; /* Ajusta según la necesidad */
    }
}

@media (min-width: 1150px) {
    .filter-form{
        padding: 3rem;
        max-height: fit-content;
    }
    form.filter-form .input-container{
        width: 16% !important;
    }
    .filter-form .main-buttons{
        width: 10%;
        order:999;
    }
    .filter-form .filter-button{
        display: none;
    }
}