.faq-item{
    width: 100%;
    padding: 0% 0%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    /* overflow: hidden; */
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.faq-item .faq-question{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 5% 5%;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    background-color: var(--light-color);
    transition: all 0.5s ease-in-out;
}

.faq-item h3{
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    color: var(--primary-color);
    width: 89%;
    display: flex;
    align-items: center;
}
.faq-item .icon{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.faq-item i{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--light-color);
    border-radius: 10rem;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}
.faq-item .icon.show i{
    transform: rotate(180deg);
    color: var(--primary-color);
    background-color: var(--light-color);
}

.faq-item p{
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--dark-color);
    font-weight: 300;
    overflow: hidden;
    max-height: 0;
    padding: 0 5%;
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.faq-item.show p > a{
    font-size: inherit;
}

.faq-item.show .faq-question{
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    box-shadow: 0px 4px 56.2px 0px rgba(0, 0, 0, 0.25);
}
.faq-item.show .faq-question h3{
    color: var(--light-color);
}


.faq-item.show p{
    max-height: 500px;
    padding: 5%;
    transition: all 0.5s ease-in-out;
}

@media (min-width: 530px) {
    .faq-item{
        border-radius: 0.5rem;
    }
    .faq-item .faq-question{
        padding: 2% 3%;
    }
    .faq-item .icon{
        justify-content: flex-end;
    }
    .faq-item h3{
        font-size: 1.7rem;
        line-height: 2.5rem;
    }
    .faq-item p{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .faq-item i{
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
    }

}

@media (min-width: 950px) {
    .faq-item{
        border-radius: 1rem;
    }
    .faq-item .faq-question{
        padding: 2% 2%;
    }
    .faq-item:hover{
        transform: scale(0.98);
    }
    .faq-item div::after,
    .faq-item div::before{
        width: 30%;
        height: 4px;
    }

    .faq-item h3{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .faq-item p{
        font-size: 2rem;
        line-height: 2.5rem;

    }
}