<section>
    <h2>
        ¿Qué piensan nuestros clientes de nosotros?
    </h2>
    <div class="carousel-container">
        <div
            class="carousel-inner"

            [style.transform]="carouselPosition()"
            >
            @for (item of reviews; track $index) {
                <article class="review-container">
                    <p>
                        {{item.content}}
                    </p>
                    <footer>
                        <img src="{{item.avatar}}" alt="{{item.author}}">
                        <div>
                            <h3>
                                {{item.author}}
                            </h3>
                            <p>
                                Opiniones de Google
                            </p>
                        </div>
                    </footer>
                </article>
            }
        </div>
    </div>
    <div class="carousel-controls">
        <i class="fas fa-chevron-left" [ngClass]="{'unactive':isFirstPosition()}" (click)="previousCard()"></i>
        <i class="fas fa-chevron-right" [ngClass]="{'unactive':isLastPosition()}" (click)="nextCard()"></i>
    </div>
</section>