<section class="work">
    <img src="assets/backgrounds/home-work.jpg" alt="Cómo trabajamos">
    <div class="info">
        <h2>Cómo trabajamos</h2>
        <p>
            Imagínate que tienes en mente comprar una casa o vender una antigua casa, pero no sabes por dónde empezar.
            Nosotros te ayudamos con el proceso, desde el principio hasta el final. Siempre con la mejor disposición y transparencia en cada etapa del proceso para que te sientas seguro y tranquilo.
        </p>
    </div>
</section>