<section class="work">
    <img src="assets/backgrounds/home-work.webp" alt="Cómo trabajamos">
    <div class="info">
        <h2>Cómo trabajamos</h2>
        <p>
            Nuestro objetivo es ayudar a las personas a alcanzar sus metas y sueños, a proteger su patrimonio y a construir un futuro. Trabajamos de la mano con cada cliente, escuchando sus necesidades, ofreciendo soluciones personalizadas y brindando un servicio de calidad y confianza.
        </p>
        <p>
            Nuestra marca se basa en la pasión por ayudar a los demás, en la profesionalidad de nuestro equipo, en la calidad de nuestro servicio y en la confianza que generamos en nuestros clientes. Estamos comprometidos en ser el mejor aliado para quienes confían en nosotros y en hacer de cada experiencia un éxito.
        </p>
    </div>
</section>